<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.rattanak.khmeronlineradio"
        versionCode = "1.1" 
        version     = "1.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Khmer Online Radio</name>

    <description>
        Listen to khmer radio online for FREE. Channels include:
        - Hot FM 107
        - Komsan FM 94.5
        - FM 105
        - RHM 95.7
        - Vayo FM
       
        This app requires internet connection.
    </description>
    <icon src="img/icon.png" />

    <author href="https://rattanak.com" email="rattanak.chea@gmail.com">
        Rattanak Chea
    </author>

</widget>